*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: url(../img/chan-bg.png) no-repeat;
    background-size: 80%;
    background-position-x: 80%;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.title{
    position: absolute;
    left: 20px;
    top: -150px;
}
.content{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 5%;
}
.contact{
    position: absolute;
    right: 0;
    top: -30%;
}
.contact a{
    font-weight: 900;
    font-size: 30px;
}